.contacts-box {
    background-color: rgb(195, 195, 195);
    border-radius: 20px;
    border: solid rgb(28, 28, 28) 5px;
    margin: 20px 10px 20px 10px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 2fr;
    align-items: center;
    height: 60px;
    padding: 0px 0px 0px 5px;
    font-size: 16px;
    color: rgb(28, 28, 28);
}

.contacts-icon {
    width: 40px;
    height: 40px;
    margin-right: 50px;
}

.contacts-title {
    font-weight: bold;
}

.contacts-box:hover {
    background-color: white
}

@media only screen and (max-width: 600px) {
    .contacts-box {
        width: 340px;
    }
}